{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %} 

<div class="container">
    <div class="cotent-section">


<form method="POST"> 


<fieldset class="form-group">
    <legend class="border-bottom mb-4"> <h2>LogIn</h2></legend>
    {% csrf_token %}
{{ form|crispy }}
</fieldset>

<div class="form-group">
<button class="btn btn-outline-info" >Login</button >
</div>


<small class="text-muted">
    Create an account? <a class="ml-2" href="{% url 'career:registration_url' %}">SignUp Now</a>
    </small>
    
    </div>

</form>
</div>
</div>
{% endblock %}